<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Blur Menu with CSS3 Transitions" />
        <meta name="keywords" content="css3, transitions, menu, blur, navigation, typography, font, letters, text-shadow" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/blurmenu.css" />
        
    </head>
        <div class="container">
            <div class="header">
            </div>
            <div class="content">
                <ul class="bmenu">
                    <li><a href="/landlord_home">Landlord Home</a></li>
                    <li><a href="/tenant_home">Tenant Home</a></li>
                    <li><a href="/landlord_records">Landlord Records</a></li>
                    <li><a href="/tenant_records">Tenant Records</a></li>
                    <li><a href="/my_locations">My Locations</a></li>
                    <li><a href="/location">View Locations</a></li>
                </ul>
                <img src="/images/logo.png"
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</html>