
<form method="post" action="/login">
	<div class="row" align="center"> 
      <label>Email:</label>
      <input type="text" name="email">
        
      <label>  Password:</label>
      <input type="password" name="password"> 
			</div> 
			<div class='row' align="center">    
			<button type="submit" class="btn btn-info" >Login </button> 
			<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div> 
</form>
