
<!-- New User body here -->
<form method="post" action="/signup">
	<div class="form-group">
		Name
		<input type="text" name="name" class="form-control" placeholder="Rihanna" required>
		Email
		<input type="email" name="email" class="form-control" placeholder="badgalriri@gmail.com" required>
		Password
		<input type="password" name="password" class="form-control" placeholder="BBHMM123" required>
		Phone Number
		<input type="tel" name="phone" class="form-control" placeholder="$$$-$$$-$$$$">
		Pets<br>
		<input type="radio" name="pets" value="yes" checked> Yes
		<input type="radio" name="pets" value="no"> No   
		<br>I am a<br>
		<input type="checkbox" name="landlord"> Landlord  
		<input type="checkbox" name="tenant"> Tenant
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Save changes</button>
	</form> 
</div>
