html{
  background: url("/images/interior.jpg") no-repeat center fixed;
  background-size: 100%;
}

.nav {
  float: right;
  margin-top: 20px;
  background: white;
}

h1 {
  padding: 0px;
  line-height:1;
  font-size: 60px;
  display: inline-block;
  background: url("/images/stripes.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tenantinfo {
  font-size: 16px;
}

#form{
  margin-top: 10px;
  background: rgba(255,255,255, 0.8);
}

h2 {
  margin: 0px;
}

.listing {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 43px;  
  border: 2px solid grey; 
  background: rgba(255,255,255, 0.8);
  width: 330px;
  height: 162px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.listingtenant {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 43px;
  border: 2px solid grey; 
  background: rgba(255,255,255, 0.8);
  width: 330px;
  height: 162px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.listinglandlord {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 38px;
  border: 2px solid grey; 
  background: rgba(255,255,255, 0.8);
  width: 310px;
  height: 180px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.navbutton {
  margin: 1px;
  background: #5abaf5;
  background-image: -webkit-linear-gradient(top, #adadad, #000000);
  background-image: -moz-linear-gradient(top, #adadad, #000000);
  background-image: -ms-linear-gradient(top, #adadad, #000000);
  background-image: -o-linear-gradient(top, #adadad, #000000);
  background-image: linear-gradient(to bottom, #adadad, #000000);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  height: 30px;
  line-height: 10px;
  text-decoration: none;
}

.nav {
  float: right;
  margin-top: 10px;
  background: transparent;
}

.navbutton:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #5abaf5, #2980b9);
  background-image: -moz-linear-gradient(top, #5abaf5, #2980b9);
  background-image: -ms-linear-gradient(top, #5abaf5, #2980b9);
  background-image: -o-linear-gradient(top, #5abaf5, #2980b9);
  background-image: linear-gradient(to bottom, #5abaf5, #2980b9);
  color: #ffffff;
  text-decoration: none;
}

#username {
  padding-left: 20px;
  font-size: 20px;
}
.actionbutton {
  background: #ffffff;

}

#logout {
  float:right;
}

#pay {
  border-radius: 0;
}

