#slide {
	position:absolute;
	top:0;
	left:0;
	width:150px;
	height:100%;
	background-color:rgba(0, 0, 0, 0);
	layer-background-color:#F2F2F2;
  z-index: 100;
}

label{
	color:black;
}

html{
  background: url("/images/interior.jpg") no-repeat center fixed;
  background-size: 100%;
}

.title {
  margin-top:20px;
  color: black;
  background: white;
}

header{
  padding-top: 50px;
  background-color: white;
}
body{
    font-family: 'Montserrat';
}
h1 {
  background: url("/images/stripes.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster Two';
  font-size:50px;
  margin-top: 0px;
}

#tenantinfo {
  font-size: 16px;
}

#form{
  margin-top: 10px;
  background: rgba(255,255,255, 0.8);
}

h2 {
  margin: 0px;
}

.fade{
  opacity: 0.8;
}

.fade:hover{
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: inset 0 0 0 7px rgba(255,255,255, 0.6);
}

.listing {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 43px;  
  border: 2px solid grey; 
  background: rgba(255,255,255, 0.8);
  width: 330px;
  height: 178px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.listingtenant {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 43px;
  border: 2px solid grey; 
  background: rgba(255,255,255, 0.8);
  width: 330px;
  height: 162px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.listinglandlord {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 38px;
  border: 2px solid grey; 
  background: rgba(255,255,255, 0.8);
  width: 310px;
  height: 180px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.navbutton {
  margin: 1px;
  background: #5abaf5;
  background-image: -webkit-linear-gradient(top, #adadad, #000000);
  background-image: -moz-linear-gradient(top, #adadad, #000000);
  background-image: -ms-linear-gradient(top, #adadad, #000000);
  background-image: -o-linear-gradient(top, #adadad, #000000);
  background-image: linear-gradient(to bottom, #adadad, #000000);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  height: 30px;
  line-height: 10px;
  text-decoration: none;
}

.nav {
  float: right;
  margin-top: 10px;
  background: transparent;
}

.navbutton:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #5abaf5, #2980b9);
  background-image: -moz-linear-gradient(top, #5abaf5, #2980b9);
  background-image: -ms-linear-gradient(top, #5abaf5, #2980b9);
  background-image: -o-linear-gradient(top, #5abaf5, #2980b9);
  background-image: linear-gradient(to bottom, #5abaf5, #2980b9);
  color: #ffffff;
  text-decoration: none;
}

#username {
  padding-left: 20px;
  font-size: 20px;
}

.table {
  background: rgba(255,255,255, 0.8);
  color: black;
}

/*.actionbtn {
  background: #ffffff;
  border: 4px solid black;
  padding: 10px;
  color: black;
}
*/

.actionbtn {
  border-radius: 0%;
  color: #FFFFFF !important;
  text-shadow: 1px 1px 4px #7CACDE;
  border: 2px solid #707070;
  background: #63B8EE;
  background: linear-gradient(top,  #8A8A8A,  #000000);
  background: -ms-linear-gradient(top,  #8A8A8A,  #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#8A8A8A), to(#000000));
  background: -moz-linear-gradient(top,  #8A8A8A,  #000000);
/*  font-family: Copperplate Gothic;*/
}

.actionbtn:hover {
  color: #F2FBFF !important;
  background: #CFCFCF;
  background: linear-gradient(top,  #000000,  #8A8A8A);
  background: -ms-linear-gradient(top,  #000000,  #8A8A8A);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#A6A6A6));
  background: -moz-linear-gradient(top,  #000000,  #A6A6A6);
}

#logout {
  float:right;
}

#pay {
  border-radius: 0;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
