<p style="font-size: 180px; color:white; background: rgba(0,0,0, 0.3); line-height:.74; padding: 30px; margin-top: 85px">CAN'T MOVE IN. YOU HAVE PET(S) <a href='/login' class='navbutton'">Login</a>
</p>
