<p style="font-size: 140px; color:white; background: rgba(0,0,0, 0.3); line-height:.74; padding: 30px">CAN'T <br>MOVE IN. <br>YOU HAVE PETS
<a href='/locations' class='navbutton'">Find Another Location</a>
</p>
