<i><h2 style="font-size: 100px; color: #4D4D4D; margin-top: 30px; background:rgba(255,255,255,0.7);text-align:right; text-"> WELCOME TO BHMM</h2></i>
<h2 style="font-size: 95px; background:rgba(255,255,255,0.7); text-align:right"> THE BEST WAY TO</h2>
<h2 style="font-size: 75px; color: #828282; background:rgba(255,255,255,0.7);text-align:right">MANAGE UR SH*T & </h2>
<h2 style="font-size: 70px; color: #999999; background:rgba(255,255,255,0.7);text-align:right">GET YOUR MONEY</h2>


<audio controls autoplay>
  <source src="Rihanna.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
