<header>
  <span class="title"><h1>Home</h1></span>
</header>

<br>
<form type="submit" method="get" action="/landlord"> <button class='actionbutton'>Landlord Home</button></form>
<form type="submit" method="get" action="/tenant"> <button class='actionbutton'>Tenant Home</button></form>
