<header>
<h1>Home</h1>
<div class="nav"> 
    <a href='/landlord' class='navbutton'>Home</a>
    <a href='/landlord/records' class='navbutton'>Landlord Records</a>
    <a href='/tenant/records' class='navbutton'>Tenant Records</a>
    <a href='/landlord/my_locations' class='navbutton'>My Locations</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    <form type="submit" method="post" action="/logout"><button class="actionbutton" id="logout">logout</button></form>
  </div>
</div>
</header>

<br>
<form type="submit" method="get" action="/landlord"> <button class='actionbutton'>Landlord Home</button></form>
<form type="submit" method="get" action="/tenant"> <button class='actionbutton'>Tenant Home</button></form>
