<header>
<h1>Home</h1>
  <div class="nav"> 
    <a href='/login' class='navbutton'>Login</a>
    <a href='/create' class='navbutton'>Create</a>
    <a href='/locations' class='navbutton'>All Locations</a>
  </div>
</header>

<form type="submit" method="get" action="/landlord"> <button class='actionbutton'>Landlord</button></form>
<form type="submit" method="get" action="/tenant"> <button class='actionbutton'>Tenant</button></form>
