<header>
  <h1>My locations</h1>
  <div class="nav"> 
    <a href='/landlord' class='button'>Home</a>
    <a href='/landlord/records' class='button'>View Records</a>
    <a href='/landlord/my_locations' class='button'>My Locations</a>
    <a href='/locations' class='button'>All Locations</a>
  </div>
  </div>
</header>
