<header>
  <h1>My records</h1>
  <div class="nav"> 
    <a href='/landlord' class='button'>Home</a>
    <a href='/landlord/records' class='button'>View Records</a>
    <a href='/landlord/my_locations' class='button'>My Locations</a>
    <a href='/landlord/my_locations' class='button'>All Locations</a>
  </div>
</header>

[table]
- Address
- Tenant ID
- Amount Due
- Amount Paid

<h2>Tenants info:</h2>
- tenant 1
- tenant 2