<div class="container">
  <%= erb :'partials/locationeffect' %>
  <ul class="ca-menu">
    <% @location.each do |location| %>
    <li style="margin:10px; text-align:center">
     <img src="images/home.png" class="ca-icon" id="heart">
     <h2 class="ca-main"><%= location.address %></h2>
     <h3 style="margin-top:0px">$<%=location.rate.round %> - <%= (location.allow_pets?)? "Pets allowed" : "No Pets"%></h3>
     <a data-toggle="modal" data-target="#NewUserModal" class="ca-sub" style="text-align:center"> SIGN UP TO MOVE IN!</a>
     
   </li>
   <% end %>
 </ul>
</div>