<header>
  <h1>All locations</h1>
  <div class="nav"> 
    <a href='/' class='button'>Home</a>
  </div>
</header>

<body>
<% #Locations.all.each do |location| %>
  <div class = "listing">
    <h2>[ADDRESS] </h2>
    <div>[RATE] <br>
    Pets: Obviously <br>
    MOVE IN! <br></div>
  </div>
<% #end %>
</body>