<header>
  <span class="title"><h1>All locations</h1></span>
</header>

<div> <form type="submit" method="post" action="/email"> <button class='actionbtn'>Send Email</button></form>
</div>

<body>
  <% @location.each do |location| %>
  <div class = "listing fade">
    <!-- TODO: only show available locations -->
    <h2><%= location.address %></h2>
    <div>$<%=location.rate.round %> <br>
      Pets: <%= (location.allow_pets?)? "Allowed" : "Not Allowed"%> <br>

      <%if current_user%>
      <form type="submit" method="post" action="/movein/<%=location.id%>"> <button class="actionbtn">MOVE IN!</button></form><br></div>
      <%else%>
      <a data-toggle="modal" data-target="#NewUserModal"> <button class="actionbtn">MOVE IN TODAY!</button></a>
      <%end%>

    </div>


    </div>
    <% end %>
  </body>
