<h1>Login</h1>
<hr/>

<% if @login_error %>
  <div>
    <strong>Wrong Name or Password.  Try again!</strong>
  </div>
<% end %>

<form method="post" action="/login">
<table style="width: 275px">
  <tr>
    <td><label>Email:</label></td>
    <td><input type="text" name="email"></td>
  </tr>
  <tr>    
    <td><label>Password:</label></td>
    <td><input type="text" name="password"> </td>
  </tr>
  <tr>
      <td><input type="submit" value="Login"></td>
  </tr>
</table>
</form>
<a href="/signup">Sign up?</a>

