<p style="font-size: 200px; color:white; background: rgba(0,0,0, 0.3); line-height:.74; padding: 30px; margin-top: 40px">YOU <br>HAVE <br>PET(S) <a href='/locations' class='navbutton'>All Locations</a>
</p>
