<header>
  <h1>My Records</h1>
  <div class="nav"> 
    User: <%= @user.name %>
    <a href='/landlord' class='navbutton'>Home</a>
    <a href='/landlord/records' class='navbutton'>View Records</a>
    <a href='/landlord/my_locations' class='navbutton'>My Locations</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    User: <%= @user.name %>
    <form type="submit" method="post" action="/logout"><button class="actionbutton">logout</button></form>
  </div>
</header>