<header>
<h1>Tenant</h1>
  <div class="nav"> 
  
    <a href='/tenant' class='button'>Home</a>
    <a href='/tenant/records' class='button'>View Records</a>
    <a href='/locations' class='button'>All Locations</a>
  </div>
</header>
