<header>
  <span class="title"><h1>Receipt</h1></span>
  <div class="nav"> 
    <a href='/home' class='navbutton'>Home</a>
    <a href='/tenant/records' class='navbutton'>Records</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    <span id="username">User: <%= current_user.name %></span>
    <form type="submit" method="post" action="/logout"><button class="actionbutton" id="logout">logout</button></form>
  </div>
</header>