<header>
<h1>Tenant Records</h1>
  <div class="nav"> 
    <a href='/tenant' class='button'>Home</a>
    <a href='/tenant/records' class='button'>View Records</a>
    <a href='/locations' class='button'>All Locations</a>
  </div>
</header>

<div>[table] <br>
- Address <br>
- Tenant <br>
- Amount Due <br>
- Amount Paid <br>
<a href='/' class='button'>Pay</a>
</div>
<h2>History:</h2>
- old location
- superold location