<header>
<h1>PAY!</h1>
  <div class="nav"> 
    <a href='/home' class='navbutton'>Home</a>
    <a href='/tenant/records' class='navbutton'>Records</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    <span id="username">User: <%= current_user.name %></span>
    <form type="submit" method="post" action="/logout"><button class="actionbutton" id="logout">logout</button></form>
  </div>
</header>

<h2>Account Balance: <%=current_user.account_balance.round%></h2>

<h2>Rent Rate: <%=Location.find(current_user.location_id).rate.round%></h2>
<br>
<form method="post" action="/tenant/pay/part">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" name="amount" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
  </div>
 <button class="actionbutton">Transfer amount</button></form>

  <span style="font-size:30px">- OR - </span>
<form type="submit" method="post" action="/tenant/pay/full"> <button class='actionbutton'>Pay in full</button></form><br>

