<header>
<h1>Receipt</h1>
  <div class="nav"> 
    <a href='/tenant' class='navbutton'>Home</a>
    <a href='/tenant/records' class='navbutton'>View Records</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    User: <%= @user.name %>
    <form type="submit" method="post" action="/logout"><button class="actionbutton">logout</button></form>
  </div>
</header>